interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/iorlas/a2sdlc-smoke
  response:
    body:
      string: '{"id":1216724145,"node_id":"R_kgDOSIW8sQ","name":"a2sdlc-smoke","full_name":"iorlas/a2sdlc-smoke","private":true,"owner":{"login":"iorlas","id":460890,"node_id":"MDQ6VXNlcjQ2MDg5MA==","avatar_url":"https://avatars.githubusercontent.com/u/460890?v=4","gravatar_id":"","url":"https://api.github.com/users/iorlas","html_url":"https://github.com/iorlas","followers_url":"https://api.github.com/users/iorlas/followers","following_url":"https://api.github.com/users/iorlas/following{/other_user}","gists_url":"https://api.github.com/users/iorlas/gists{/gist_id}","starred_url":"https://api.github.com/users/iorlas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/iorlas/subscriptions","organizations_url":"https://api.github.com/users/iorlas/orgs","repos_url":"https://api.github.com/users/iorlas/repos","events_url":"https://api.github.com/users/iorlas/events{/privacy}","received_events_url":"https://api.github.com/users/iorlas/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/iorlas/a2sdlc-smoke","description":"a2sdlc
        Mode 2 e2e smoke fixture","fork":false,"url":"https://api.github.com/repos/iorlas/a2sdlc-smoke","forks_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/forks","keys_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/keys{/key_id}","collaborators_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/teams","hooks_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/hooks","issue_events_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/events{/number}","events_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/events","assignees_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/assignees{/user}","branches_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/branches{/branch}","tags_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/tags","blobs_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/refs{/sha}","trees_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/trees{/sha}","statuses_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/statuses/{sha}","languages_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/languages","stargazers_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/stargazers","contributors_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/contributors","subscribers_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/subscribers","subscription_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/subscription","commits_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/commits{/sha}","git_commits_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/commits{/sha}","comments_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/comments{/number}","issue_comment_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/comments{/number}","contents_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/contents/{+path}","compare_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/compare/{base}...{head}","merges_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/merges","archive_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/downloads","issues_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues{/number}","pulls_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls{/number}","milestones_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/milestones{/number}","notifications_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/labels{/name}","releases_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/releases{/id}","deployments_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/deployments","created_at":"2026-04-21T07:09:26Z","updated_at":"2026-04-23T01:00:18Z","pushed_at":"2026-04-23T12:01:34Z","git_url":"git://github.com/iorlas/a2sdlc-smoke.git","ssh_url":"git@github.com:iorlas/a2sdlc-smoke.git","clone_url":"https://github.com/iorlas/a2sdlc-smoke.git","svn_url":"https://github.com/iorlas/a2sdlc-smoke","homepage":null,"size":189,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"private","forks":0,"open_issues":1,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"CBEP4K3RI6TNW6FRQXGAPODJ5IG6NAVPNFXHG5DBNRWGC5DJN5XF62LEZ4AAAAACWBZFGYNRNFXHG5DBNRWGC5DJN5XF65DZOBS32U3DN5YGKZCJNZ2GKZ3SMF2GS33OJFXHG5DBNRWGC5DJN5XA","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","network_count":0,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a1ec1a46dd3681d2ab8b26ed3f1594d826b54a5c57291ba494129201494cbeb1"
      Last-Modified:
      - Thu, 23 Apr 2026 01:00:18 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '8850'
      X-RateLimit-Remaining:
      - '8843'
      X-RateLimit-Reset:
      - '1776949957'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '7'
      x-accepted-github-permissions:
      - metadata=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls/13
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls/13\",\"id\":3564292071,\"node_id\":\"PR_kwDOSIW8sc7Ucsfn\",\"html_url\":\"https://github.com/iorlas/a2sdlc-smoke/pull/13\",\"diff_url\":\"https://github.com/iorlas/a2sdlc-smoke/pull/13.diff\",\"patch_url\":\"https://github.com/iorlas/a2sdlc-smoke/pull/13.patch\",\"issue_url\":\"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/13\",\"number\":13,\"state\":\"closed\",\"locked\":false,\"title\":\"feat(cost-summary):
        add format_cost_summary helper and unit tests\",\"user\":{\"login\":\"a2sdlc[bot]\",\"id\":273219115,\"node_id\":\"BOT_kgDOEEj-Kw\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/3256224?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D\",\"html_url\":\"https://github.com/apps/a2sdlc\",\"followers_url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/13/comments
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"7d5e14de3a2989fed311ba2eb3752856c13abbd7a5217a143ede628c022437e7"'
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '8850'
      X-RateLimit-Remaining:
      - '8841'
      X-RateLimit-Reset:
      - '1776949957'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '9'
      x-accepted-github-permissions:
      - issues=read; pull_requests=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
