interactions:
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/iorlas/a2sdlc-smoke
  response:
    body:
      string: '{"id":1216724145,"node_id":"R_kgDOSIW8sQ","name":"a2sdlc-smoke","full_name":"iorlas/a2sdlc-smoke","private":true,"owner":{"login":"iorlas","id":460890,"node_id":"MDQ6VXNlcjQ2MDg5MA==","avatar_url":"https://avatars.githubusercontent.com/u/460890?v=4","gravatar_id":"","url":"https://api.github.com/users/iorlas","html_url":"https://github.com/iorlas","followers_url":"https://api.github.com/users/iorlas/followers","following_url":"https://api.github.com/users/iorlas/following{/other_user}","gists_url":"https://api.github.com/users/iorlas/gists{/gist_id}","starred_url":"https://api.github.com/users/iorlas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/iorlas/subscriptions","organizations_url":"https://api.github.com/users/iorlas/orgs","repos_url":"https://api.github.com/users/iorlas/repos","events_url":"https://api.github.com/users/iorlas/events{/privacy}","received_events_url":"https://api.github.com/users/iorlas/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/iorlas/a2sdlc-smoke","description":"a2sdlc
        Mode 2 e2e smoke fixture","fork":false,"url":"https://api.github.com/repos/iorlas/a2sdlc-smoke","forks_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/forks","keys_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/keys{/key_id}","collaborators_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/teams","hooks_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/hooks","issue_events_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/events{/number}","events_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/events","assignees_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/assignees{/user}","branches_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/branches{/branch}","tags_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/tags","blobs_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/refs{/sha}","trees_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/trees{/sha}","statuses_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/statuses/{sha}","languages_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/languages","stargazers_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/stargazers","contributors_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/contributors","subscribers_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/subscribers","subscription_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/subscription","commits_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/commits{/sha}","git_commits_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/commits{/sha}","comments_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/comments{/number}","issue_comment_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/comments{/number}","contents_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/contents/{+path}","compare_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/compare/{base}...{head}","merges_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/merges","archive_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/downloads","issues_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues{/number}","pulls_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls{/number}","milestones_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/milestones{/number}","notifications_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/labels{/name}","releases_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/releases{/id}","deployments_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/deployments","created_at":"2026-04-21T07:09:26Z","updated_at":"2026-04-23T01:00:18Z","pushed_at":"2026-04-23T12:01:34Z","git_url":"git://github.com/iorlas/a2sdlc-smoke.git","ssh_url":"git@github.com:iorlas/a2sdlc-smoke.git","clone_url":"https://github.com/iorlas/a2sdlc-smoke.git","svn_url":"https://github.com/iorlas/a2sdlc-smoke","homepage":null,"size":189,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"private","forks":0,"open_issues":1,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false},"temp_clone_token":"CBEP4KZNOSYPJGG2Q5P43MDJ5IG6XAVPNFXHG5DBNRWGC5DJN5XF62LEZ4AAAAACWBZFGYNRNFXHG5DBNRWGC5DJN5XF65DZOBS32U3DN5YGKZCJNZ2GKZ3SMF2GS33OJFXHG5DBNRWGC5DJN5XA","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":true,"allow_auto_merge":false,"delete_branch_on_merge":false,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","network_count":0,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a1ec1a46dd3681d2ab8b26ed3f1594d826b54a5c57291ba494129201494cbeb1"
      Last-Modified:
      - Thu, 23 Apr 2026 01:00:18 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '8850'
      X-RateLimit-Remaining:
      - '8836'
      X-RateLimit-Reset:
      - '1776949957'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '14'
      x-accepted-github-permissions:
      - metadata=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls/29
  response:
    body:
      string: '{"url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls/29","id":3569886939,"node_id":"PR_kwDOSIW8sc7UyCbb","html_url":"https://github.com/iorlas/a2sdlc-smoke/pull/29","diff_url":"https://github.com/iorlas/a2sdlc-smoke/pull/29.diff","patch_url":"https://github.com/iorlas/a2sdlc-smoke/pull/29.patch","issue_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/29","number":29,"state":"open","locked":false,"title":"agent/28","user":{"login":"a2sdlc[bot]","id":273219115,"node_id":"BOT_kgDOEEj-Kw","avatar_url":"https://avatars.githubusercontent.com/in/3256224?v=4","gravatar_id":"","url":"https://api.github.com/users/a2sdlc%5Bbot%5D","html_url":"https://github.com/apps/a2sdlc","followers_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/followers","following_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/repos","events_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"body":"Closes
        #28","created_at":"2026-04-22T22:22:20Z","updated_at":"2026-04-23T00:56:47Z","closed_at":null,"merged_at":null,"merge_commit_sha":"1b5d94ca1a62fd196e6b28ca61e447c1cc789748","assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":true,"commits_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls/29/commits","review_comments_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls/29/comments","review_comment_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls/comments{/number}","comments_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/29/comments","statuses_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/statuses/692d4aef56d5b9c33fad75c21a5cc835e32f1d32","head":{"label":"iorlas:agent/28","ref":"agent/28","sha":"692d4aef56d5b9c33fad75c21a5cc835e32f1d32","user":{"login":"iorlas","id":460890,"node_id":"MDQ6VXNlcjQ2MDg5MA==","avatar_url":"https://avatars.githubusercontent.com/u/460890?v=4","gravatar_id":"","url":"https://api.github.com/users/iorlas","html_url":"https://github.com/iorlas","followers_url":"https://api.github.com/users/iorlas/followers","following_url":"https://api.github.com/users/iorlas/following{/other_user}","gists_url":"https://api.github.com/users/iorlas/gists{/gist_id}","starred_url":"https://api.github.com/users/iorlas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/iorlas/subscriptions","organizations_url":"https://api.github.com/users/iorlas/orgs","repos_url":"https://api.github.com/users/iorlas/repos","events_url":"https://api.github.com/users/iorlas/events{/privacy}","received_events_url":"https://api.github.com/users/iorlas/received_events","type":"User","user_view_type":"public","site_admin":false},"repo":{"id":1216724145,"node_id":"R_kgDOSIW8sQ","name":"a2sdlc-smoke","full_name":"iorlas/a2sdlc-smoke","private":true,"owner":{"login":"iorlas","id":460890,"node_id":"MDQ6VXNlcjQ2MDg5MA==","avatar_url":"https://avatars.githubusercontent.com/u/460890?v=4","gravatar_id":"","url":"https://api.github.com/users/iorlas","html_url":"https://github.com/iorlas","followers_url":"https://api.github.com/users/iorlas/followers","following_url":"https://api.github.com/users/iorlas/following{/other_user}","gists_ur[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls/29/files
  response:
    body:
      string: "[{\"sha\":\"638a5c5c8b48050e773b0dfc37c96cfd5bc730f7\",\"filename\":\".a2sdlc/state/state.json\",\"status\":\"added\",\"additions\":1,\"deletions\":0,\"changes\":1,\"blob_url\":\"https://github.com/iorlas/a2sdlc-smoke/blob/692d4aef56d5b9c33fad75c21a5cc835e32f1d32/.a2sdlc%2Fstate%2Fstate.json\",\"raw_url\":\"https://github.com/iorlas/a2sdlc-smoke/raw/692d4aef56d5b9c33fad75c21a5cc835e32f1d32/.a2sdlc%2Fstate%2Fstate.json\",\"contents_url\":\"https://api.github.com/repos/iorlas/a2sdlc-smoke/contents/.a2sdlc%2Fstate%2Fstate.json?ref=692d4aef56d5b9c33fad75c21a5cc835e32f1d32\",\"patch\":\"@@
        -0,0 +1 @@\\n+{\\\"stage\\\":\\\"spec\\\",\\\"status\\\":\\\"complete\\\",\\\"base_branch\\\":\\\"main\\\",\\\"branch\\\":\\\"agent/28\\\",\\\"pr_number\\\":29,\\\"stage_run_id\\\":\\\"28:comment-4300342558:46f626976d65\\\",\\\"review_cycles\\\":0,\\\"accumulated_cost_usd\\\":1.31962285,\\\"accumulated_tokens_in\\\":345,\\\"accumulated_tokens_out\\\":24188,\\\"accumulated_duration_ms\\\":679077,\\\"last_updated\\\":\\\"2026-04-22T22:35:33.984573+00:00\\\"}\\n\\\\
        No newline at end of file\"},{\"sha\":\"c034019b56558b08fa11cfb9af12e1d3f8a9dbfd\",\"filename\":\"docs/superpowers/plans/2026-04-22-28-input-validation.md\",\"status\":\"added\",\"additions\":250,\"deletions\":0,\"changes\":250,\"blob_url\":\"https://github.com/iorlas/a2sdlc-smoke/blob/692d4aef56d5b9c33fad75c21a5cc835e32f1d32/docs%2Fsuperpowers%2Fplans%2F2026-04-22-28-input-validation.md\",\"raw_url\":\"https://github.com/iorlas/a2sdlc-smo[...]
- request:
    body: '{"event": "COMMENT", "comments": [{"path": "docs/superpowers/specs/2026-04-22-28-input-validation.md",
      "body": "a2sdlc cassette probe \u2014 safe to ignore", "line": 1, "side": "RIGHT"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls/29/reviews
  response:
    body:
      string: '{"id":4162231236,"node_id":"PRR_kwDOSIW8sc74FpvE","user":{"login":"a2sdlc[bot]","id":273219115,"node_id":"BOT_kgDOEEj-Kw","avatar_url":"https://avatars.githubusercontent.com/in/3256224?v=4","gravatar_id":"","url":"https://api.github.com/users/a2sdlc%5Bbot%5D","html_url":"https://github.com/apps/a2sdlc","followers_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/followers","following_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/following{/other_user}","gists_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/gists{/gist_id}","starred_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/subscriptions","organizations_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/orgs","repos_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/repos","events_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/events{/privacy}","received_events_url":"https://api.github.com/users/a2sdlc%5Bbot%5D/received_events","type":"Bot","user_view_type":"public","site_admin":false},"body":"","state":"COMMENTED","html_url":"https://github.com/iorlas/a2sdlc-smoke/pull/29#pullrequestreview-4162231236","pull_request_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls/29","author_association":"NONE","_links":{"html":{"href":"https://github.com/iorlas/a2sdlc-smoke/pull/29#pullrequestreview-4162231236"},"pull_request":{"href":"https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls/29"}},"submitted_at":"2026-04-23T12:12:50Z","commit_id":"692d4aef56d5b9c33fad75c21a5cc835e32f1d32"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"fbbbc8e6ecb69eea16189852ce7b471b5ff105ab0d15cea14b61e62e1e9a659a"
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '8850'
      X-RateLimit-Remaining:
      - '8833'
      X-RateLimit-Reset:
      - '1776949957'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '17'
      x-accepted-github-permissions:
      - pull_requests=write
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
version: 1
