interactions:
- request:
    body: null
    headers:
      X-GitHub-Api-Version:
      - '2022-11-28'
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/installation/repositories?per_page=1
  response:
    body:
      string: '{"total_count":1,"repository_selection":"selected","repositories":[{"id":1216724145,"node_id":"R_kgDOSIW8sQ","name":"a2sdlc-smoke","full_name":"iorlas/a2sdlc-smoke","private":true,"owner":{"login":"iorlas","id":460890,"node_id":"MDQ6VXNlcjQ2MDg5MA==","avatar_url":"https://avatars.githubusercontent.com/u/460890?v=4","gravatar_id":"","url":"https://api.github.com/users/iorlas","html_url":"https://github.com/iorlas","followers_url":"https://api.github.com/users/iorlas/followers","following_url":"https://api.github.com/users/iorlas/following{/other_user}","gists_url":"https://api.github.com/users/iorlas/gists{/gist_id}","starred_url":"https://api.github.com/users/iorlas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/iorlas/subscriptions","organizations_url":"https://api.github.com/users/iorlas/orgs","repos_url":"https://api.github.com/users/iorlas/repos","events_url":"https://api.github.com/users/iorlas/events{/privacy}","received_events_url":"https://api.github.com/users/iorlas/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/iorlas/a2sdlc-smoke","description":"a2sdlc
        Mode 2 e2e smoke fixture","fork":false,"url":"https://api.github.com/repos/iorlas/a2sdlc-smoke","forks_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/forks","keys_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/keys{/key_id}","collaborators_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/teams","hooks_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/hooks","issue_events_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/events{/number}","events_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/events","assignees_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/assignees{/user}","branches_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/branches{/branch}","tags_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/tags","blobs_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/refs{/sha}","trees_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/trees{/sha}","statuses_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/statuses/{sha}","languages_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/languages","stargazers_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/stargazers","contributors_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/contributors","subscribers_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/subscribers","subscription_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/subscription","commits_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/commits{/sha}","git_commits_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/commits{/sha}","comments_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/comments{/number}","issue_comment_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/comments{/number}","contents_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/contents/{+path}","compare_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/compare/{base}...{head}","merges_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/merges","archive_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/downloads","issues_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues{/number}","pulls_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls{/number}","milestones_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/milestones{/number}","notifications_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/labels{/name}","releases_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/releases{/id}","deployments_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/deployments","created_at":"2026-04-21T07:09:26Z","updated_at":"2026-04-23T00:56:07Z","pushed_at":"2026-04-23T00:56:04Z","git_url":"git://github.com/iorlas/a2sdlc-smoke.git","ssh_url":"git@github.com:iorlas/a2sdlc-smoke.git","clone_url":"https://github.com/iorlas/a2sdlc-smoke.git","svn_url":"https://github.com/iorlas/a2sdlc-smoke","homepage":null,"size":187,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"private","forks":0,"open_issues":1,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"195a602804d6ce15420127cd0fb0812694635eade96586fbf9cef730d0fbaabe"
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '8850'
      X-RateLimit-Remaining:
      - '8828'
      X-RateLimit-Reset:
      - '1776909389'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '22'
      x-accepted-github-permissions:
      - allows_permissionless_access=true
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/iorlas/a2sdlc-smoke
  response:
    body:
      string: '{"id":1216724145,"node_id":"R_kgDOSIW8sQ","name":"a2sdlc-smoke","full_name":"iorlas/a2sdlc-smoke","private":true,"owner":{"login":"iorlas","id":460890,"node_id":"MDQ6VXNlcjQ2MDg5MA==","avatar_url":"https://avatars.githubusercontent.com/u/460890?v=4","gravatar_id":"","url":"https://api.github.com/users/iorlas","htm[...]
