interactions:
- request:
    body: null
    headers:
      X-GitHub-Api-Version:
      - '2022-11-28'
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/installation/repositories?per_page=1
  response:
    body:
      string: '{"total_count":1,"repository_selection":"selected","repositories":[{"id":1216724145,"node_id":"R_kgDOSIW8sQ","name":"a2sdlc-smoke","full_name":"iorlas/a2sdlc-smoke","private":true,"owner":{"login":"iorlas","id":460890,"node_id":"MDQ6VXNlcjQ2MDg5MA==","avatar_url":"https://avatars.githubusercontent.com/u/460890?v=4","gravatar_id":"","url":"https://api.github.com/users/iorlas","html_url":"https://github.com/iorlas","followers_url":"https://api.github.com/users/iorlas/followers","following_url":"https://api.github.com/users/iorlas/following{/other_user}","gists_url":"https://api.github.com/users/iorlas/gists{/gist_id}","starred_url":"https://api.github.com/users/iorlas/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/iorlas/subscriptions","organizations_url":"https://api.github.com/users/iorlas/orgs","repos_url":"https://api.github.com/users/iorlas/repos","events_url":"https://api.github.com/users/iorlas/events{/privacy}","received_events_url":"https://api.github.com/users/iorlas/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/iorlas/a2sdlc-smoke","description":"a2sdlc
        Mode 2 e2e smoke fixture","fork":false,"url":"https://api.github.com/repos/iorlas/a2sdlc-smoke","forks_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/forks","keys_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/keys{/key_id}","collaborators_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/teams","hooks_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/hooks","issue_events_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/events{/number}","events_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/events","assignees_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/assignees{/user}","branches_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/branches{/branch}","tags_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/tags","blobs_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/refs{/sha}","trees_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/trees{/sha}","statuses_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/statuses/{sha}","languages_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/languages","stargazers_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/stargazers","contributors_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/contributors","subscribers_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/subscribers","subscription_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/subscription","commits_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/commits{/sha}","git_commits_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/git/commits{/sha}","comments_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/comments{/number}","issue_comment_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/comments{/number}","contents_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/contents/{+path}","compare_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/compare/{base}...{head}","merges_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/merges","archive_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/downloads","issues_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues{/number}","pulls_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/pulls{/number}","milestones_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/milestones{/number}","notifications_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/labels{/name}","releases_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/releases{/id}","deployments_url":"https://api.github.com/repos/iorlas/a2sdlc-smoke/deployments","created_at":"2026-04-21T07:09:26Z","updated_at":"2026-04-23T00:56:07Z","pushed_at":"2026-04-23T00:56:04Z","git_url":"git://github.com/iorlas/a2sdlc-smoke.git","ssh_url":"git@github.com:iorlas/a2sdlc-smoke.git","clone_url":"https://github.com/iorlas/a2sdlc-smoke.git","svn_url":"https://github.com/iorlas/a2sdlc-smoke","homepage":null,"size":187,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"private","forks":0,"open_issues":1,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":false}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"195a602804d6ce15420127cd0fb0812694635eade96586fbf9cef730d0fbaabe"
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '8850'
      X-RateLimit-Remaining:
      - '8811'
      X-RateLimit-Reset:
      - '1776909389'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '39'
      x-accepted-github-permissions:
      - allows_permissionless_access=true
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/iorlas/a2sdlc-smoke
  response:
    body:
      string: '{"id":1216724145,"node_id":"R_kgDOSIW8sQ","name":"a2sdlc-smoke","full_name":"iorlas/a2sdlc-smoke","private":true,"owner":{"login":"iorlas","id":460890,"node_id":"MDQ6VXNlcjQ2MDg5MA==","avatar_url":"https://avatars.githubusercontent.com/u/460890?v=4","gravatar_id":"","url":"https://api.github.com/users/iorlas","htm[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/12
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/12\",\"repository_url\":\"https://api.github.com/repos/iorlas/a2sdlc-smoke\",\"labels_url\":\"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/12/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/12/comments\",\"events_url\":\"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/12/events\",\"html_url\":\"https://github.com/iorlas/a2sdlc-smoke/issues/12\",\"id\":4305556171,\"node_id\":\"I_kwDOSIW8sc8AAAABAKGSyw\",\"number\":12,\"title\":\"Add
        a cost_summary helper that formats accumulated spend\",\"user\":{\"login\":\"iorlas\",\"id\":460890,\"node_id\":\"MDQ6VXNlcjQ2MDg5MA==\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/460890?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/iorlas\",\"html_url\":\"https://github.com/iorlas\",\"followers_url\":\"https://api.github.com/users/iorlas/followers\",\"following_url\":\"https://api.github.com/users/iorlas/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/iorlas/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/iorlas/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/iorlas/subscriptions\",\"organizations_url\":\"https://api.github.com/users/iorlas/orgs\",\"repos_url\":\"https://api.github.com/users/iorlas/repos\",\"events_url\":\"https://api.github.com/users/iorlas/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/iorlas/received_events\",\"type\":\"User\",\"user_view_type\":\"public\",\"site_admin\":false},\"labels\":[],\"state\":\"closed\",\"locked\":false,\"assignees\":[],\"milestone\":null,\"comments\":4,\"created_at\":\"2026-04-21T22:10:03Z\",\"updated_at\":\"2026-04-21T22:32:21Z\",\"closed_at\":\"2026-04-21T22:32:18Z\",\"assignee\":null,\"author_association\":\"OWNER\",\"active_lock_reason\":null,\"sub_issues_summary\":{\"total\":0,\"completed\":0,\"percent_completed\":0},\"issue_dependencies_summary\":{\"blocked_by\":0,\"total_blocked_by\":0,\"blocking\":0,\"total_blocking\":0},\"body\":\"##
        Goal\\n\\nAdd a small helper in `src/a2sdlc_smoke/cost_summary.py` that turns
        a\\ncost snapshot into a one-line human-readable string, so live comments\\ncan
        say \\\"Spent $2.14 across 3 stages\\\" rather than raw numbers.\\n\\n## Requirements\\n\\n-
        Module path: `src/a2sdlc_smoke/cost_summary.py`\\n- Function: `format_cost_summary(total_usd:
        float, stages: int) -> str`\\n- Behavior: returns `\\\"Spent $X.XX across
        N stage(s)\\\"` with two-decimal\\n  dollars and pluralization (`stage` vs
        `stages`).\\n- Unit tests under `tests/test_cost_summary.py` covering:\\n
        \ - single stage\\n  - multiple stages\\n  - zero cost / zero stages\\n  -
        fractional cents rounded to two decimals\\n\\n## Out of scope\\n\\n- Wiring
        the helper anywhere else \u2014 this is a standalone addition.\\n- Any currency
        other than USD.\",\"closed_by\":{\"login\":\"a2sdlc[bot]\",\"id\":273219115,\"node_id\":\"BOT_kgDOEEj-Kw\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/3256224?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D\",\"html_url\":\"https://github.com/apps/a2sdlc\",\"followers_url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D/followers\",\"following_url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D/subscriptions\",\"organizations_url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D/orgs\",\"repos_url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D/repos\",\"events_url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D/received_events\",\"type\":\"Bot\",\"user_view_type\":\"public\",\"site_admin\":false},\"reactions\":{\"url\":\"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/12/reactions\",\"total_count\":0,\"+1\":0,\"-1\":0,\"laugh\":0,\"hooray\":0,\"confused\":0,\"heart\":0,\"rocket\":0,\"eyes\":0},\"timeline_url\":\"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/12/timeline\",\"performed_via_github_app\":null,\"state_reason\":\"completed\",\"pinned_comment\":null}"
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"694fb67045cf5d642c1e11d92eddf66c37c3c9ed5a4dffdd3d2942208c3a4056"
      Last-Modified:
      - Tue, 21 Apr 2026 22:32:21 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '8850'
      X-RateLimit-Remaining:
      - '8809'
      X-RateLimit-Reset:
      - '1776909389'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '41'
      x-accepted-github-permissions:
      - issues=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/12/comments?since=2020-01-01T00%3A00%3A00Z
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/comments/4292202178\",\"html_url\":\"https://github.com/iorlas/a2sdlc-smoke/issues/12#issuecomment-4292202178\",\"issue_url\":\"https://api.github.com/repos/iorlas/a2sdlc-smoke/issues/12\",\"id\":4292202178,\"node_id\":\"IC_kwDOSIW8sc7_1c7C\",\"user\":{\"login\":\"a2sdlc[bot]\",\"id\":273219115,\"node_id\":\"BOT_kgDOEEj-Kw\",\"avatar_url\":\"https://avatars.githubusercontent.com/in/3256224?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D\",\"html_url\":\"https://github.com/apps/a2sdlc\",\"followers_url\":\"https://api.github.com/users/a2sdlc%5Bbot%5D/followers\",\"following_url\":\"http[...]
